.App {
  text-align: center;
}

.each-color {
  width: 40px;
  height: 40px; 
  position: absolute;
}

.each-color:hover {
  width: 50px;
  height: 50px;
  z-index: 1;
  position: absolute;
  margin-left: -5px;
  margin-top: -5px;
  border-radius: 4px;
}